@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

/*Creates global CSS variables that can be reused through out the file*/
:root {
    --main-color: #ffc127;
    --main-color-transparent: #ffc227c0;
    --secondary-color: rgb(128, 0, 0);
    --accent-color: rgb(36, 36, 36);
    --background-color: rgb(255, 255, 255);
    --body-text-color: rgb(44, 44, 44);
    --accent-text-color: rgb(255, 255, 255);
    --main-font-family: "Passion One", cursive;
    --secondary-font-family: "Yesteryear", cursive;
}

body {
    overflow-x: hidden;
}

.body-background {
    background-image: url("../images/theatre-curtains.jpg"); /*Tells the browser to back out
    of the css folder and then go into the images folder by using the double dot relative file path*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
}

/*NAVBAR*/
.navbar {
    /* background: var(--main-color-transparent);*/
    background-color: var(--secondary-color);
    border-bottom: 5px solid var(--main-color);
    height: 100px;
}

/*Affects the title in the navbar Academy Cinemas*/
.navbar-brand {
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: 45px;
    padding-left: 30px;
}


.navbar-brand:hover/*Affects the hover state of the title in the navbar Academy Cinemas*/
, .nav-link:hover/*Affects the hover state of the link in the navbar*/{
    color: var(--accent-text-color);
    text-shadow: 0 0 3px rgba(255, 123, 0, 0.6);
}

.nav-item {
    padding-left: 15px;
}

/*Affects the Now Playing, Tickets, and Contact anchor tags*/
.nav-link {
    opacity: 1;
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: 35px;
}

/*Sets the color on the link that has been click on in other words the "active link"
It really only works when you are hovering the drop down list for now playing to override Bootstraps
blue*/
/*Add in the script using dev tools to find bootstraps set up for this and then finding it 
in the bootstrap css file*/
.nav-link:focus {
    color: var(--accent-text-color);
    text-shadow: 0 0 3px rgba(255, 123, 0, 0.6);
}

/*Targets the drop down menu that contains the links for each movie title*/
.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 16px 2px rgb(0, 0, 0, 0.4);
    /*margin-top: 50px;*/
    background-color: var(--main-color);
    padding: 0px; /*Overrides bootstraps padding on the top and bottom of the drop down menu*/
}

/*Sets up the styling for each movie link in the drop down menu*/
.dropdown-item {
    font-family: var(--main-font-family);
    text-align: center;
    font-size: 30px;
    color: var(--accent-color);
    padding-top: 15px; /*adds some space to the top of each link to center them*/
    padding-bottom: 20px; /*adds some space to the bottom of each link to center them*/
    border-bottom: 2px solid rgb(117, 77, 13);
}

/*Sets the background color when a user hovers their mouse over each movie link*/
.dropdown-item:hover {
    color: var(--accent-text-color);
    background-color: var(--main-color);
}

#header-image {
    padding-top: 70px;
}

h1 {
    font-family: var(--main-font-family);
    color: var(--main-color);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
    font-size: 100px;
}

h3 {
    font-family: var(--main-font-family);
    font-size: 50px;
}

h4 {
    font-family: var(--secondary-font-family);
    font-size: 35px;
}

h5 {
    font-size: 30px;
    font-family: var(--main-font-family);
}

/*MOVIE CARDS*/

.container {
    padding: 100px;
}

.card {
    border-radius: 0;
    border: 5px solid var(--main-color);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 40px; /*nth child this*/
}

b{
    font-weight: 600;
}

div > #stood-still > .card {
    margin-right: 40px;
}

.movie-card {
    padding-top: 130px;
}

/*NOTE TO SELF: add movie id after adding the padding to show how padding effects all classes with 
card-body but we just want the the cards with movie text*/
#movies .card-body {
    padding-top: 40px;
    padding-left: 20px;
}

/*Centers movie poster next to description*/
#stood-still img {
    padding-top: 35px;
}

#vertigo img {
    padding-top: 5px;
}

p {
    cursor: default; /*Changes the cursor back to the default arrow instead of a text cursor when 
    hovering your mouse over text*/
}

.container #movies{
    padding-top: 100px;
}

/*Creates the main styling for buttons that contain the Bootstrap .btn class*/
.btn {
    background-color: var(--main-color);
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: var(--accent-color);
    font-family: var(--main-font-family);
    font-size: 18px;
}
.btn:hover {
    color: var(--accent-text-color);
}

.btn:focus {
    box-shadow: none; /*Overrides bootstrap code when a button with the btn class is clicked*/
}

/*TICKETS CARD*/

/*Specifially styles the the card class with the div contianing the tickets id name*/
#tickets .card {
    padding: 40px;
    height: 250px;
    margin-right: 20px;
    background-color: white;
}

/*Select movie and times styling*/
.form-select {
    display: block;
    width: 100%;
    font-family: var(--main-font-family);
    font-size: 20px;
    padding: 0.375rem 2.25rem 0.375rem .75rem;
    background-color: #fff;
    border: 3px solid var(--main-color);
    border-radius: 0.25rem;
    transition: border-color 0.5s ease;
}

.form-select:focus {
    border-color: var(--secondary-color);
    outline: none;
    box-shadow: none; /*Overrides bootstraps box shadow*/
    transition: 0.5s ease;
}

/*Select tickets input*/
input[type="number"] {
    width: 70px;
    padding: 5px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    font-family: var(--main-font-family);
    font-size: 20px;
    transition: border-color .5s ease;
}

input[type="number"]:focus {
    box-sizing: border-box;
    outline: 0;
    border: 3px solid var(--secondary-color);
}

input[type="submit"] {
    padding: 20px;
    border-radius: 40px;
    font-size: 25px;
    width: 150px;
    margin-top: 60px;
    float: right;
}

/*CONTAINERS*/

.container-padding {
    padding-top: 150px;
}

/*CONTACT FORM*/

.form-control {
    border: 3px solid var(--main-color);
    transition: 1s ease;
}

.form-control:focus {
    color: #212529;
    border-color: var(--secondary-color);
    box-shadow: 0 0 0px .25rem var(--main-color); /*Overrides bootstraps box shadow*/
}

/*Contact form button*/
button[type="submit"] {
    float: right;
    padding: 20px;
    border-radius: 40px;
    font-size: 25px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*FOOTER*/

footer {
    border-top: 5px solid var(--main-color);
}

.footer-text {
    font-family: var(--main-font-family);
    color: var(--accent-text-color);
    font-size: 30px;
}

/*Specifically styles the footer image separate from the other images on site and overides
the img type selectory styling*/
.footer-img {
    width: auto;
    height: 130px;
}

/*Styles the link text deeply nested with in the footer for a hover effect*/
/*NOTE TO SELF: I did this becuase the text academy cinemas (also has the footer-text class)
 would also trigger a hover effect and change to yellow and I didn't want the student the think 
 it was a link*/
div > footer > ul > .nav-item .footer-text:hover {
    color: var(--main-color);
}

div > footer > ul > .nav-item .footer-text:focus {
    color: var(--accent-text-color);
}
