/*Scales to smaller screen sizes*/

@media (min-width: 320px) {
    /*calc([minimum size] + ([maximum size] - [minimum size]) * 
    ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])))*/
    h1 {
        font-size: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    }

    h4 {
        font-size: calc(20px + (35 - 25) * ((100vw - 320px) / (1920 - 320)));
    }

     .lead, .btn {
        font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1920 - 320)));
     }

     /*Overrides the font-size of the btn class for the Buy Tickets button and Contact Submit button*/
    .yellow-btn{
            font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1920 - 320)))
    }
}

/*Scales elements to a certian size up to a max screen width of 1200px*/
@media(max-width: 1200px){

    .container{
        padding: 20px 40px 50px 50px;
    }
    img{
        margin-bottom: 30px;
        height: 300px;
        width: auto;
    }

    /*to keep the number of tickets input from overlapping the bottom of the card border*/
    .card-body #quantity {
        margin-top: -35px;
    }
      
}

